<?xml version="1.0" encoding="UTF-8"?>
<!--
Logging reference:
logstash encoder - https://sdqali.in/blog/2016/06/30/json-logging-for-spring-applications/
logback.xml - https://springframework.guru/using-logback-spring-boot/
logback.groovy - https://springframework.guru/logback-configuration-using-groovy/
xml to groovy translator - https://logback.qos.ch/translator/asGroovy.html
-->
<configuration>
    <!-- copied from base.xml -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="CONSOLE_LOG_PATTERN" value="%X{requestContextIdKey}${CONSOLE_LOG_PATTERN}"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <appender name="JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <file>${LOG_FILE}.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.json.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-0}</maxHistory>
        </rollingPolicy>
    </appender>
    
    <logger name="io.geekhub.service" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="JSON"/>
    </logger>
    <!-- turn this on to debug to troubleshoot Hibernate related issues. -->
    <logger name="org.hibernate" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <!-- turn this on to debug to troubleshoot Spring Security related issues. -->
    <logger name="org.springframework.security" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="JSON"/>
    </root>
</configuration>
